.button-secondary {
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    color: #0077c4;
}

.modalUpgrade .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 3rem;
}

.modalUpgrade .modal-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modalUpgrade .modal-body {
    padding-left: 0;
    padding-right: 0;
}

.modalUpgrade h5 {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
}

.modalUpgrade h5 span {
    color: #0077c4;
}

.modalUpgrade thead th {
    font-size: 1.5rem;
}

.modalUpgrade .table th,
.modalUpgrade .modal-footer {
    border-top: none;
}

.modalUpgrade tbody th {
    font-weight: 600;
    font-size: 1.5rem;
}

.modalUpgrade .table th {
    line-height: 1;
    vertical-align: middle;
}

.modalUpgrade thead th,
.modalUpgrade tbody td {
    text-align: center;
    vertical-align: middle;
}

.modalUpgrade .upgrade-price td span {
    font-size: 1.5rem;
}


.modalUpgrade .table td {
    border-top: none;
}

.modalUpgrade table tbody tr th:first-child,
.modalUpgrade table tbody tr td:last-child {
    padding-left: 2.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F6F6F6;
}

.modalUpgrade .table .aclaracion {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(123, 123, 123);
}

@media (min-width: 576px) {
    .modalUpgrade .modal-dialog {
        max-width: 600px;
    }
    br.mobile {
        display: none;
    }
}

@media (max-width: 575px) {

    br.desktop {
        display: none;
    }

   

    .modalUpgrade .modal-footer {

        gap: 2.5rem;
        padding-bottom: 3rem;
    }

    .modalUpgrade h5 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .modalUpgrade thead th {
        font-size: 1.3rem;
    }

    .modalUpgrade tbody th {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .modalUpgrade table tbody tr th:first-child,
    .modalUpgrade table tbody tr td:last-child {
        padding-left: 1rem;
    }
}